<!doctype html>
<html>
  <head>
    <title>Cool stuff</title>
    <link href='/build/main.css' rel="stylesheet">
  </head>
  <body>

    <div id="content"><%- outlet %></div>

    <script src="/build/bundle.js"></script>

  </body>
</html>
